body{
	font-family:'roboto';
}
.main.container{
	margin-top:7em;
}
.wrapper{
	transition: margin 0.5s;
	transition-delay:0.1s;
}
.wrapper.bring-to-right{
	margin-left:16em
}
 .slide-close{
	left:210px;
}

